/* CSS Document */
html,body{
	margin:0px;
	padding:0px;
	height: 100%;
	color:#666;
	font-family:'Microsoft Yahei', Arial;
	font-size:14px;
	line-height:1.5;
	background-color:#f9f9f9;
	-webkit-tap-highlight-color:inherit;
}
code, kbd, pre, samp{
	font-family:'Microsoft Yahei', Arial;
	font-size:inherit;
	border-radius:0px;
}
button{
	font-family:'Microsoft Yahei', Arial;
}
img{
	max-width:100%;
}
p{
	margin:0px 0px 10px 0px;
}
header,nav,section,footer{
	display:block;
}
ol,ul,li{
	list-style:none;
	padding:0px;
	margin:0px;
}
TH,TD,DIV{
}
A{
	color:#4185ce;
	text-decoration:none;
}
A:hover{
	color:#4185ce;
	text-decoration:none;
}
a:active,
a:focus{
	text-decoration:none;
}
h1{
	font:normal 22px/1.5 'Microsoft Yahei', Arial;
	color:#333;
	margin:0px 0px 10px 0px;
	letter-spacing:normal;
}
h2{
	font:normal 20px/1.5 'Microsoft Yahei', Arial;
	color:#333;
	margin:0px 0px 10px 0px;
	letter-spacing:normal;
}
h3{
	font:normal 18px/1.5 'Microsoft Yahei', Arial;
	color:#333;
	margin:0px 0px 10px 0px;
	letter-spacing:normal;
}
h4{
	font:normal 16px/1.5 'Microsoft Yahei', Arial;
	color:#333;
	margin:0px 0px 10px 0px;
	letter-spacing:normal;
}
h5{
	font:normal 14px/1.5 'Microsoft Yahei', Arial;
	color:#333;
	margin:0px 0px 10px 0px;
	letter-spacing:normal;
}
h6{
	font:normal 12px/1.5 'Microsoft Yahei', Arial;
	color:#333;
	margin:0px 0px 10px 0px;
	letter-spacing:normal;
}
input::-moz-placeholder,
textarea::-moz-placeholder{
	color:#ddd;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
	color:#ddd;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
	color:#ddd;
}
.clearfix:before,
.clearfix:after{
	display: table;
	content: " ";
}
.clearfix:after{
	clear: both;
}

.hmp-left{
	float:left;
}
.hmp-right{
	float:right;
}
.hmp-align-left{
	text-align:left;
}
.hmp-align-center{
	text-align:center;
}
.hmp-align-right{
	text-align:right;
}


.hmp-row-fluid {
  width: 100%;
  *zoom: 1;
}
.hmp-row-fluid:before,
.hmp-row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.hmp-row-fluid:after {
  clear: both;
}
.hmp-row-fluid [class*="span"] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}
.hmp-row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.hmp-row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}
.hmp-row-fluid .hmp-span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.hmp-row-fluid .hmp-span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.hmp-row-fluid .hmp-span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.hmp-row-fluid .hmp-span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.hmp-row-fluid .hmp-span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.hmp-row-fluid .hmp-span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.hmp-row-fluid .hmp-span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.hmp-row-fluid .hmp-span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.hmp-row-fluid .hmp-span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.hmp-row-fluid .hmp-span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.hmp-row-fluid .hmp-span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.hmp-row-fluid .hmp-span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}


.hmp-nomargin{
}
.hmp-row-fluid.hmp-nomargin [class*="span"] {
  margin-left: 0;
  *margin-left: 0;
}
.hmp-row-fluid.hmp-nomargin .controls-row [class*="span"] + [class*="span"] {
  margin-left: 0;
}
.hmp-row-fluid.hmp-nomargin .hmp-span12 {
  width: 100%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span11 {
  width: 91.66666667%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span10 {
  width: 83.33333333%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span9 {
  width: 75%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span8 {
  width: 66.66666667%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span7 {
  width: 58.33333333%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span6 {
  width: 50%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span5 {
  width: 41.66666667%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span4 {
  width: 33.33333333%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span3 {
  width: 25%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span2 {
  width: 16.66666667%;
}
.hmp-row-fluid.hmp-nomargin .hmp-span1 {
  width: 8.33333333%;
}





.content{
	padding-top:10px;
	padding-bottom:10px;
}
.layout{
	padding-left:10px;
	padding-right:10px;
}
.header{
	font-size:0px;
	position:relative;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#fff;
	text-align:center;
}
.header img{
	height:70px;
	width:70px;
	vertical-align:-27px;
}
.logo_text{
	font-size:24px;
	display:inline-block;
	margin-left:4px;
}

.container-1{
	margin-bottom:10px;
}
.container-1 > .title{
	background-color:#EFEFEF;
	border-bottom:1px solid #B5B5B5;
	border-top:1px solid #ddd;
	color:#585A5E;
	font-size:16px;
	line-height:1.5;
}
.container-1 > .title .line{
	border-bottom:1px solid #fff;
	padding:5px 10px;
}
.container-1 > .contentpane{
}


.download{
	border-bottom:1px dashed #999999;
	padding:15px 10px;
	font-size:12px;
	color:#8C918C;
}
.download:hover{
	background-color:#eee;
}
.download:before,
.download:after{
	display: table;
	content: " ";
}
.download:after{
	clear: both;
}
.download .dow_left{
	float:left;
}
.download .dow_right{
	float:right;
}
.dow_title{
	font-size:18px;
	color:#4185ce;
	margin-bottom:8px;
}
a.btn_download,
.btn_download{
	cursor:pointer;
	display:inline-block;
	color:#fff;
	background-color:#4185ce;
	font-size:14px;
	padding:5px 10px;
	border-radius:3px;
	text-align:center;
	width:98px;
}
a.btn_download:hover,
.btn_download:hover{
	background-color:#2766cc;
}
.btn_download img{
	width:20px;
	margin-right:5px;
	vertical-align:-6px;
}
.footer{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	font-size:13px;
	color:#8C918C;
}